<!-- authentication module -->

<% if logged_in? %>
    <%= link_to('members', members_path) %>
    <%= link_to('edit account', edit_user_path(current_user)) %>
    <%= link_to('logout', logout_path) %>
  <% else %>
<div id="auth">
  <%= link_to('login', login_path) %>
  <!-- login form goes here -->
  <a id="l-close" href="#">close</a>
</div>
<%= link_to "login", "#", :id => "l-open" %>
  <% end %>
