<!-- authentication module -->
<div id="auth"<%= raw(" class=\"form\"") if !logged_in? %>>
<% if logged_in? %>
  <ul class="nav container">
    <li><%= link_to('Members', members_path) %></li>
    <li><%= link_to('Edit Account', edit_user_path(current_user)) %></li>
    <li><%= link_to('Logout', logout_path) %></li>
  </ul>
  <% else %>
  <!-- login form goes here -->
  <%= form_tag sessions_path, :class => 'container' do %>
    <!--<%= label_tag :login, "Andrew ID" %>-->
    <%= text_field_tag :login, params[:login], :placeholder => 'Andrew ID' %>
    <!--<%= label_tag :password %>-->
    <%= password_field_tag :password, value = 'Password' %>
    <%= submit_tag "Log in" %>
  <% end %>  
<% end %>
</div>
