<div id="footer">
  <div id="auth">
  <% if logged_in? %>
    <%= link_to('members', members_path) %>
    <%= link_to('edit account', edit_user_path(current_user)) %>
    <%= link_to('logout', logout_path) %>
  <% else %>
    <%= link_to('login', login_path) %>
  <% end %>
  </div>
  <div id="copyright">
    ACM@CMU <%= Time.now.year %>&copy;
  <div>
</div>
