    <ul id = "nav">
      <li id="home"><%= link_to('home', home_path) %></li>
      <li id="about"><%= link_to('about', about_path) %></li>
      <li id="apps"><%= link_to('apps', apps_path) %></li>
      <li id="articles"><%= link_to('articles', articles_path) %></li>
      <li id="contact"><%= link_to('contact', contact_path) %></li>
      <!--<li><%= link_to('partners', partners_path) %></li>-->
      <!--<li><%= link_to('board', board_path) %></li>-->
    </div>
