<div id = "navigation">
  <table>
    <tr>
     <td><%= link_to('home', home_path) %></td>
     <td><%= link_to('about', about_path) %></td>
     <td><%= link_to('contact', contact_path) %></td>
     <td><%= link_to('articles', articles_path) %></td>
     <td><%= link_to('members', members_path) %></td>
    </tr>
  </table>
</div>
