<div class="headline">
  <div class="container">
  <h1>Who Are We?</h1>
  <p>
  <img src="/images/acm-logo.png" style="float:right" alt="ACM" />
  ACM@CMU is Carnegie Mellon's student chapter of the Association for Computing Machinery, the leading premier organization for computing professionals. We are dedicated to promoting interdisciplinary computing and enabling professional development on campus. 
  <!--We connect students to industry-leading experts and recruiters, as well as pioneering faculty and alumni.-->
  </p>
  </div>
</div>
<div class="container">
<dl id="board">
  <div class="profile">
    <dt>President</dt>
    <dd>Jen Solyanik</dd>
    <p>
    <%= image_tag 'profiles/jen_bw.gif', :alt => "Jen Solyanik" %>
    <!--troll.gif-->
    Jen defines ACM’s vision and sets the expectation that the club will achieve those goals. She enjoys Ultimate Frisbee and learning languages.
    </p>
  </div>
  <div class="profile">
    <dt>Vice President</dt>
    <dd>Avesh Singh</dd>
    <p>    
    <%= image_tag 'profiles/avesh_bw.gif', :alt => "Avesh Singh" %>
    <!--yuno.gif-->
    Always energetic and cordial, Avesh spreads the ACM gospel and boosts morale. Reliable sources tell us that he forgot how to frown at a young age.
    </p>
  </div>
  <div class="profile">
    <dt>Treasurer</dt>
    <dd>Disha</dd>
    <p>
    <%= image_tag 'profiles/hmmm.gif', :alt => "Disha Bora" %>
    <!--lmao.gif-->
    STUFFS ABOUT DISHA
    </p>
  </div>
  <div class="profile">
    <dt>Public Relations</dt>
    <dd>Ethan Chan</dd>
    <p>
    <%= image_tag 'profiles/ethan_bw.gif', :alt => "Ethan Chan" %>
    <!--alone.gif-->
    </p>
  </div>
  <div class="profile">
    <dt>Secretary</dt>
    <dd>Dixie Kee</dd>
    <p>
    <%= image_tag 'profiles/dixie_bw.gif', :alt => "Dixie Kee" %>
    <!--LOL.gif-->
    Dixie: diligent Dixie. Normally people will forget a thing or two. Not Dixie. She ensures that ACM runs without a hitch.
    </p>
  </div>
  <div class="profile">
    <dt>Logistics</dt>
    <dd>Ilteris Canberk</dd>
    <p>
    <%= image_tag 'profiles/ilter_bw.gif', :alt => "Ilteris Canberk" %>
    <!--cereal.gif-->
    Ilteris is the guy who is always there when you need him. And he doesn't even complain.  He oversees day to day operations and always picks up other's slack. 
    </p>
  </div>
  <div class="profile">
    <dt>Publications</dt>
    <dd>TBA</dd>
    <p>
    <%= image_tag 'profiles/alone.gif', :alt => "TBA" %>
    <!--rage.gif-->
    TBA edits and publishes ACM communications.
    </p>
  </div>
  <div class="profile">
    <dt>Design</dt>
    <dd>Vincent Siao</dd>
    <p>
    <%= image_tag 'profiles/vincent_bw.gif', :alt => "Vincent Siao" %>
    <!--hmmm.gif-->
    T-shirts, websites, posters; need them to look good? Vincent’s your man. His exceptional design and coding abilities often makes one wonder which side of the brain he uses more.
    </p>
  </div>
  <div class="profile">
    <dt>Chief of Software</dt>
    <dd>Adam Weis</dd>
    <p>  
    <%= image_tag 'profiles/adam_bw.gif', :alt => "Eric Wu" %>
    <!--fyeah.gif-->
    If you were to describe Adam in one word, it would have to be passionate. He drives the development and deployment of ACM’s applications team.
    </p>
  </div>
</dl>
<!--<h2>Our Constitution</h2>-->
</div>
