<div class="headline">
  <div class="container">
  <h1>Who Are We?</h1>
  <p>
  <img src="/images/acm-logo.png" style="float:right" alt="ACM" />
  ACM@CMU is Carnegie Mellon's student chapter of the Association for Computing Machinery, the leading premier organization for computing professionals. We are dedicated to promoting interdisciplinary computing and enabling professional development on campus. 
  <!--We connect students to industry-leading experts and recruiters, as well as pioneering faculty and alumni.-->
  </p>
  </div>
</div>
<div class="container">
<dl id="board">
  <div class="profile">
    <dt>President</dt>
    <dd>Avesh Singh</dd>
    <p>
    <%= image_tag 'profiles/avesh_bw.gif', :alt => "Avesh Singh" %>
    <!--troll.gif-->
Avesh defines ACM's vision, setting and achieving big picture goals. Reliable sources tell us that he forgot how to frown at a young age.
    </p>
  </div>
  <div class="profile">
    <dt>Vice President</dt>
    <dd>Ethan Chan</dd>
    <p>    
    <%= image_tag 'profiles/ethan_bw.gif', :alt => "Ethan Chan" %>
    <!--yuno.gif-->
Outgoing and charismatic, Ethan has the technical aptitude and the business acumen
to help drive ACM's growth as CMU's premier technical organization.
    </p>
  </div>
  <div class="profile">
    <dt>Treasurer</dt>
    <dd>Disha Bora</dd>
    <p>
    <%= image_tag 'profiles/disha_bw.gif', :alt => "Disha Bora" %>
    Money is Disha's passion. It's difficult to tell whether she sees past those $$$. But she is always available to chat and have fun!
    </p>
  </div>
  <div class="profile">
    <dt>External Public Relations</dt>
    <dd>Brandon Lum</dd>
    <p>
    <%= image_tag 'profiles/brandon_bw.png', :alt => "Brandom Lum" %>
    <!--alone.gif-->
Brandon brings more into ACM from outside CMU. A believer in technology and open source, he looks forward to collaborating and sharing ideas.
    </p>
  </div>
  <div class="profile">
    <dt>Internal Public Relations</dt>
    <dd>Gail Wilson</dd>
    <p>
    <%= image_tag 'profiles/gail_bw.jpg', :alt => "Gail Wilson" %>
    <!--LOL.gif-->
    Gail's personality and contagious smile is enough to make any member feel at home. And with her dedication, ACM events are bound to be unforgettable.
    </p>
  </div>
  <div class="profile">
    <dt>Secretary</dt>
    <dd>Stephanie Luck</dd>
    <p>
    <%= image_tag 'profiles/stephanie_bw.png', :alt => "Stephanie Luck" %>
    <!--cereal.gif-->
    Stephanie's favorite animal is the elephant, which fits in very well with her role as Secretary. Thorough and hard-working, she helps ACM to never forget the cool ideas it dreams up.
    </p>
  </div>
  <div class="profile">
    <dt>Publications</dt>
    <dd>Naman Bharadwaj</dd>
    <p>
    <%= image_tag 'profiles/naman_bw.gif', :alt => "Naman Bharadwaj" %>
    <!--rage.gif-->
Ambitious and visionary, Naman loves to discuss the latest and the greatest in technology. He has big plans for the future of ACM publications.
    </p>
  </div>
  <div class="profile">
    <dt>Design</dt>
    <dd>Vincent Siao</dd>
    <p>
    <%= image_tag 'profiles/vincent_bw.gif', :alt => "Vincent Siao" %>
    <!--hmmm.gif-->
    T-shirts, websites, posters; need them to look good? Vincent’s your man. His exceptional design and coding abilities often makes one wonder which side of the brain he uses more.
    </p>
  </div>
  <div class="profile">
    <dt>Chief of Software</dt>
    <dd>Vilcya Wirantana</dd>
    <p>  
    <%= image_tag 'profiles/vilcya_bw.png', :alt => "Vilcya Wirantana" %>
    <!--fyeah.gif-->
    Vilcya has a strong passion for anything code. Coupled with her love for ambitious new ideas, she ensures that ACM's application teams are the epitome of quality and learning.
    </p>
  </div>
</dl>
<!--<h2>Our Constitution</h2>-->
</div>
