<h1>Who We Are</h1>
<p>
<img src="/images/acm-logo.png" style="float:right" alt="ACM" />ACM@CMU is Carnegie Mellon's student chapter of the Association for Computing Machinery, the leading premier organization for computing professionals. We are dedicated to promoting interdisciplinary computing and enabling professional development on campus. 
<!--We connect students to industry-leading experts and recruiters, as well as pioneering faculty and alumni.-->
</p>
<!--
<h2>Our Vision</h2>

<h2>Our Mission</h2>
-->
<h2>quis custodiet ipsos custodes?</h2>
<dl id="board">
  <div class="profile">
    <dt>President</dt>
    <dd>Eric Wu</dd>
    <p>
    <%= image_tag 'profiles/troll.gif', :alt => "Eric Wu" %>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut at dignissim neque. Aenean ligula lectus, ultrices vel volutpat quis, hendrerit eu eros. Vivamus commodo semper elit, sed elementum ligula porta et. Morbi euismod justo non turpis rhoncus in vulputate mi pellentesque.  
    </p>
  </div>
  <div class="profile">
    <dt>Vice President</dt>
    <dd>Jen Solyanik</dd>
    <p>
    <%= image_tag 'profiles/yuno.gif', :alt => "Eric Wu" %>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut at dignissim neque. Aenean ligula lectus, ultrices vel volutpat quis, hendrerit eu eros. Vivamus commodo semper elit, sed elementum ligula porta et. Morbi euismod justo non turpis rhoncus in vulputate mi pellentesque. 
    </p>
  </div>
  <div class="profile">
    <dt>Treasurer</dt>
    <dd>Eugene Linkov</dd>
    <p>
    <%= image_tag 'profiles/lmao.gif', :alt => "Eric Wu" %>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut at dignissim neque. Aenean ligula lectus, ultrices vel volutpat quis, hendrerit eu eros. Vivamus commodo semper elit, sed elementum ligula porta et. Morbi euismod justo non turpis rhoncus in vulputate mi pellentesque. 
    </p>
  </div>
  <div class="profile">
    <dt>Public Relations</dt>
    <dd>Avesh Singh</dd>
    <p>
    <%= image_tag 'profiles/alone.gif', :alt => "Eric Wu" %>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut at dignissim neque. Aenean ligula lectus, ultrices vel volutpat quis, hendrerit eu eros. Vivamus commodo semper elit, sed elementum ligula porta et. Morbi euismod justo non turpis rhoncus in vulputate mi pellentesque. 
    </p>
  </div>
  <div class="profile">
    <dt>Secretary</dt>
    <dd>Dixie Kee</dd>
    <p>
    <%= image_tag 'profiles/LOL.gif', :alt => "Eric Wu" %>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut at dignissim neque. Aenean ligula lectus, ultrices vel volutpat quis, hendrerit eu eros. Vivamus commodo semper elit, sed elementum ligula porta et. Morbi euismod justo non turpis rhoncus in vulputate mi pellentesque. 
    </p>
  </div>
  <div class="profile">
    <dt>Logistics</dt>
    <dd>Jason MacDonald</dd>
    <p>
    <%= image_tag 'profiles/cereal.gif', :alt => "Eric Wu" %>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut at dignissim neque. Aenean ligula lectus, ultrices vel volutpat quis, hendrerit eu eros. Vivamus commodo semper elit, sed elementum ligula porta et. Morbi euismod justo non turpis rhoncus in vulputate mi pellentesque. 
    </p>
  </div>
  <div class="profile">
    <dt>Publications</dt>
    <dd>Shashank Pradhan</dd>
    <p>
    <%= image_tag 'profiles/rage.gif', :alt => "Eric Wu" %>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut at dignissim neque. Aenean ligula lectus, ultrices vel volutpat quis, hendrerit eu eros. Vivamus commodo semper elit, sed elementum ligula porta et. Morbi euismod justo non turpis rhoncus in vulputate mi pellentesque. 
    </p>
  </div>
  <div class="profile">
    <dt>Design</dt>
    <dd>Vincent Siao</dd>
    <p>
    <%= image_tag 'profiles/hmmm.gif', :alt => "Eric Wu" %>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut at dignissim neque. Aenean ligula lectus, ultrices vel volutpat quis, hendrerit eu eros. Vivamus commodo semper elit, sed elementum ligula porta et. Morbi euismod justo non turpis rhoncus in vulputate mi pellentesque. 
    </p>
  </div>
  <div class="profile">
    <dt>Chief of Software</dt>
    <dd>Adam Weis</dd>
    <p>  
    <%= image_tag 'profiles/fyeah.gif', :alt => "Eric Wu" %>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut at dignissim neque. Aenean ligula lectus, ultrices vel volutpat quis, hendrerit eu eros. Vivamus commodo semper elit, sed elementum ligula porta et. Morbi euismod justo non turpis rhoncus in vulputate mi pellentesque. 
    </p>
  </div>
</dl>
<!--<h2>Our Constitution</h2>-->
