<div class="headline">
  <div class="container">
  <h1>Who Are We?</h1>
  <p>
  <img src="/images/acm-logo.png" style="float:right" alt="ACM" />
  ACM@CMU is Carnegie Mellon's student chapter of the Association for Computing Machinery, the leading premier organization for computing professionals. We are dedicated to promoting interdisciplinary computing and enabling professional development on campus. 
  <!--We connect students to industry-leading experts and recruiters, as well as pioneering faculty and alumni.-->
  </p>
  </div>
</div>
<div class="container">
    <dl id="board">
  <div class="profile">
    <dt>President</dt>
    <dd>Brandon Lum</dd>
    <p>
    <%= image_tag 'profiles/brandon_bw.png', :alt => "Brandon Lum" %>
    <!--troll.gif-->
    Brandon defines and drives the vision and goals of ACM. He constantly looks out for innovative ways to bring ACM forward to better serve it’s students and partners.
    </p>
  </div>
  <div class="profile">
    <dt>Vice President</dt>
    <dd>Ethan Chan</dd>
    <p>    
    <%= image_tag 'profiles/ethan_bw.gif', :alt => "Ethan Chan" %>
    <!--yuno.gif-->
    Outgoing and charismatic, Ethan has the technical aptitude and the business acumen
    to help drive ACM's growth as CMU's premier technical organization.
    </p>
</div>

<div class="profile">
    <dt>Secretary</dt>
    <dd>Esther Wang</dd>
    <p>
    <%= image_tag 'profiles/esther_bw.png', :alt => "Esther Wang" %>
    <!--cereal.gif-->
    Esther is always interested in hearing about new ideas and events. She works to keep track of all of ACM's big plans and is excited to help make each plan a success.
    </p>
</div>

<div class="profile">
    <dt>Treasurer</dt>
    <dd>Disha Bora</dd>
    <p>
    <%= image_tag 'profiles/disha_bw.gif', :alt => "Disha Bora" %>
    Money is Disha's passion. It's difficult to tell whether she sees past those $$$. But she is always available to chat and have fun!
    </p>
</div>

  <div class="profile">
    <dt>Public Relations</dt>
    <dd>David Zhu</dd>
    <p>
    <%= image_tag 'profiles/david_bw.png', :alt => "David Zhu" %>
    <!--alone.gif-->
    Always taking the initiative, David brings his friendliness and efficiency to the role of Public Relations. He hopes to show CMU everything ACM has to offer.
    </p>
  </div>

  <div class="profile">
    <dt>Corporate Events Organizer</dt>
    <dd>Chris Ying</dd>
    <p>
    <%= image_tag 'profiles/chris_bw.png', :alt => "Chris Ying" %>
    <!--LOL.gif-->
    Yes, Chris is the CEO of ACM. The technology he likes working with is like his personality: eccentric and fun. He hopes to connect ACM with companies because who doesn't like schwag?
    </p>
</div>

    <div class="profile">
    <dt>Talks Organizer</dt>
    <dd>Naman Bharadwaj</dd>
    <p>
    <%= image_tag 'profiles/naman_bw.gif', :alt => "Naman Bharadwaj" %>
    <!--rage.gif-->
    Naman loves hard research and engineering problems, and wants interesting people to share them with the rest of us.
    </p>
  </div>
  <div class="profile">
    <dt>Design Cat</dt>
    <dd>Michelle Ma</dd>
    <p>
    <%= image_tag 'profiles/michelle_bw.png', :alt => "Michelle Ma" %>
    <!--hmmm.gif-->
    Michelle has a special knack for making things look good. From t-shirts to websites, she's the go-to person for your design needs.
    </p>
  </div>
  <div class="profile">
    <dt>Technology Wizard</dt>
    <dd>Andre Jia</dd>
    <p>  
    <%= image_tag 'profiles/andre_bw.png', :alt => "Andre Jia" %>
    <!--fyeah.gif-->
    TO_ADD
    </p>
  </div>
</dl>
<!--<h2>Our Constitution</h2>-->
</div>
