<div class="headline">
  <div class="container">
  <h1>Who Are We?</h1>
  <p>
  <img src="/images/acm-logo.png" style="float:right" alt="ACM" />
  ACM@CMU is Carnegie Mellon's student chapter of the Association for Computing Machinery, the leading premier organization for computing professionals. We are dedicated to promoting interdisciplinary computing and enabling professional development on campus. 
  <!--We connect students to industry-leading experts and recruiters, as well as pioneering faculty and alumni.-->
  </p>
  </div>
</div>
<div class="container">
    <dl id="board">

  <div class="profile">
    <dt>President</dt>
    <dd>David Zhu</dd>
    <p>
    <%= image_tag 'profiles/david_bw.png', :alt => "David Zhu" %>
    <!--troll.gif-->
    Always taking the initiative, David strives to find new and exciting ways to bring ACM to the next level to improve the experience of both students and ACMs partners.
    </p>
  </div>

  <div class="profile">
    <dt>Vice President</dt>
    <dd>Chris Ying</dd>
    <p>    
    <%= image_tag 'profiles/chris_bw.png', :alt => "Chris Ying" %>
    <!--yuno.gif-->
    Chris is an upbeat and practical guy who helps lead many of ACM's initiatives. He's always on the lookout for ways to increase ACM's impact at CMU and beyond.
    </p>
  </div>

  <div class="profile">
    <dt>Treasurer</dt>
    <dd>Esther Wang</dd>
    <p>
    <%= image_tag 'profiles/esther_bw.png', :alt => "Esther Wang" %>
    Esther has always liked numbers. These days though, she's interested in a pretty wide range of technical topics. She's also friendly, so don't hesitate to say hello!
    </p>
  </div>

  <div class="profile">
    <dt>Secretary/Historian</dt>
    <dd>Brandon Lum</dd>
    <p>
    <%= image_tag 'profiles/brandon_bw.png', :alt => "Brandon Lum" %>
    <!--cereal.gif-->
    As the dinosaur of ACM@CMU, Brandon ensures that knowledge is documented and passed forward through generations of leaders of ACM@CMU. He ensures pristine condition of all fossils, tablets and scrolls of ACM@CMU.
    </p>
  </div>

  <div class="profile">
    <dt>Talks Organizer</dt>
    <dd>Menglan Ji</dd>
    <p>
    <%= image_tag 'profiles/menglan_bw.png', :alt => "Menglan Ji" %>
    <!--alone.gif-->
    You learn more by listening than by talking, so the saying goes. Menglan's job is to find the voices in our community who have something to teach us all.
    </p>
  </div>

  <div class="profile">
    <dt>Technical Projects Officer</dt>
    <dd>Avi Romanoff</dd>
    <p>
    <%= image_tag 'profiles/avi_bw.png', :alt => "Avi Romanoff" %>
    <!--fyeah.gif-->
    Avi is a hackathon veteran who facilitates the creation of awesome software for ACM and the entire CMU community. The only thing more extreme than his commit frequency is his circadian rhythm. 
    </p>
  </div>

  <div class="profile">
    <dt>Social Chair</dt>
    <dd>Sonia Azad</dd>
    <p>
    <%= image_tag 'profiles/sonia_bw.png', :alt => "Sonia Azad" %>
    <!--LOL.gif-->
    Sonia hopes to show y'all a fun and interesting way to be involved on campus Come chill with ACM, and let us show you what we have to offer.
    </p>
  </div>

  <div class="profile">
    <dt>Corporate Relations</dt>
    <dd>Andre Jia</dd>
    <p>
    <%= image_tag 'profiles/andre_bw.png', :alt => "Andre Jia" %>
    <!--rage.gif-->
    Andre is always looking for new, more interesting ways for ACM to be more involved in the world outside of CMU. He also likes to talk a lot.
    </p>
  </div>

  <div class="profile">
    <dt>Corporate Events Officer</dt>
    <dd>Alice Rao</dd>
    <p>
    <%= image_tag 'profiles/alice_bw.png', :alt => "Alice Rao" %>
    <!--hmmm.gif-->
    As the CEO of ACM, Alice loves organizing tech events for her fellow classmates. Be sure to keep in touch with her updates for all the exclusive company talks and swag!
    </p>
  </div>

  <div class="profile">
    <dt>Designer</dt>
    <dd>Emily Zhou</dd>
    <p>
    <%= image_tag 'profiles/emily_bw.png', :alt => "Emily Zhou" %>
    Since her major is half computer science and half art, Emily feels that she will fit in well as the Design Cat. She promises to make designs that ACM will be proud of!
    </p>
  </div>

  <div class="profile">
    <dt>Infrastructure Officer</dt>
    <dd>Taehoon Lee</dd>
    <p>
    <%= image_tag 'profiles/taehoon_bw.png', :alt => "Taehoon Lee" %>
    Taehoon keeps the servers up. Without him, we'd be using pencils and paper.
    </p>
  </div>

</dl>
<!--<h2>Our Constitution</h2>-->
</div>
