<div class="headline">
  <div class="container">
  <h1>Who Are We?</h1>
  <p>
  <img src="/images/acm-logo.png" style="float:right" alt="ACM" />
  ACM@CMU is Carnegie Mellon's student chapter of the Association for Computing Machinery, the leading premier organization for computing professionals. We are dedicated to promoting interdisciplinary computing and enabling professional development on campus.
  <!--We connect students to industry-leading experts and recruiters, as well as pioneering faculty and alumni.-->
  </p>
  </div>
</div>
<div class="container">
  <dl id="board">

    <div class="profile">
      <dt>President</dt>
      <dd>Chris Ying</dd>
      <p>
      <%= image_tag 'profiles/chris.png', :alt => "Chris Ying" %>
      Chris is an upbeat and practical guy who helps lead many of ACM's initiatives. He's always on the lookout for ways to increase ACM's impact at CMU and beyond.
      </p>
    </div>

    <div class="profile">
      <dt>Vice President</dt>
      <dd>Alice Rao</dd>
      <p>
      <%= image_tag 'profiles/alice.png', :alt => "Alice Rao" %>
      Alice loves organizing tech events for her fellow classmates. Be sure to keep in touch with her updates for all the exclusive company talks and swag!
      </p>
    </div>

    <div class="profile">
      <dt>Events Director</dt>
      <dd>Harry Xu</dd>
      <p>
      <%= image_tag 'profiles/harry.png', :alt => "Harry Xu" %>
      Harry looks forward to contributing exciting and innovative ideas for ACM as events director. Be sure to talk to him about this year's hackathons and talks.
      </p>
    </div>

    <div class="profile">
      <dt>Talks Organizer</dt>
      <dd>Menglan Ji</dd>
      <p>
      <%= image_tag 'profiles/menglan.png', :alt => "Menglan Ji" %>
      You learn more by listening than by talking, so the saying goes. Menglan's job is to find the voices in our community who have something to teach us all.
      </p>
    </div>

    <div class="profile">
      <dt>Creative Director</dt>
      <dd>Emily Zhou</dd>
      <p>
      <%= image_tag 'profiles/emily.png', :alt => "Emily Zhou" %>
      Emily makes us all look cool with matching T-shirts and fancy logos. She loves mixing art with computer science and is happy to help out at ACM@CMU.
      </p>
    </div>

    <div class="profile">
      <dt>Webmaster</dt>
      <dd>Avi Romanoff</dd>
      <p>
      <%= image_tag 'profiles/avi.png', :alt => "Avi Romanoff" %>
      Avi is a hackathon veteran who facilitates the creation of awesome software for ACM and the entire CMU community. The only thing more extreme than his commit frequency is his circadian rhythm.
      </p>
    </div>

    <div class="profile">
      <dt>Public Relations</dt>
      <dd>Bili Sun</dd>
      <p>
      <%= image_tag 'profiles/bili.png', :alt => "Bili Sun" %>
      As the PR of ACM, Bili is always looking forward to throwing the best soylent parties. Outside of schoolwork, Bili enjoys rock climbing, trying out all types of food, and hiking.
      </p>
    </div>

    <div class="profile">
      <dt>Treasurer</dt>
      <dd>David Zhu</dd>
      <p>
      <%= image_tag 'profiles/david.png', :alt => "David Zhu" %>
      Always taking the initiative, David strives to find new and exciting ways to bring ACM to the next level to improve the experience of both students and ACMs partners.
      </p>
    </div>

  </dl>
</div>
