<h1>ACM@CMU Partners</h1>

<table id="partners" style="margin-left: auto; margin-right: auto; text-align: center">
  <tr>
    <td><%= image_tag('facebook.jpg', :size=>"200x75")%></td>
    <td><%= image_tag('Microsoft Logo.jpg', :size=>"200x75")%></td>
    <td><%= image_tag('credit-suisse.jpg', :size=> "200x75")%></td>
  </tr>
  <tr>
    <td><%= image_tag('barclays.jpg', :size=>"200x75")%></td>
    <td><%= image_tag('macquarie.gif', :size=>"200x75")%></td>
    <td><%= image_tag('jp-morgan-chase.jpg', :size=> "200x75")%></td>
  </tr>
  <tr>
    <td><%= image_tag('get-co.gif', :size=>"74x100")%></td>
    <td><%= image_tag('hack-ny.jpg', :size=>"200x75")%></td>
    <td><%= image_tag('custom-ink.jpg', :size=> "200x75")%></td>
  </tr>
  <tr>
    <td><%= image_tag('patch.jpg', :size=>"200x75")%></td>
    <td><%= image_tag('pittpatt.png', :size=>"200x75")%></td>
    <td><%= image_tag('lockheed-martin.jpg', :size=> "200x75")%></td>
  </tr>
  <tr>
    <td><%= image_tag('northrop-grumman.jpg', :size=>"200x75")%></td>
    <td><%= image_tag('keyw.jpg', :size=>"200x75")%></td>
    <td><%= image_tag('carnegie-mellon.jpg', :size=> "200x75")%></td>
</tr>
</table>
