<% if @title.nil? then @title = yield(:title) end %>
<!DOCTYPE html>
<html>
<head>
<title>ACM@CMU :: <%= @title %></title>
<%= stylesheet_link_tag "application", "style" %>
<%= javascript_include_tag :defaults %>
<%= csrf_meta_tag %>
<%= yield(:head) %>
</head>
<body>
<%= render(:partial => 'partials/auth') %>
<div id="header">
  <div class="container">
    <div id="logo">
      <%= link_to(image_tag("title.png", :id => 'title', :alt => 'acm@cmu'), home_path) %><br />
      <%= content_tag :span, 'association for computing machinery at carnegie mellon university', :id => "tagline" %>
    </div>
<%= render(:partial => 'partials/navigation') %>
  </div>
</div>
<div id="main"> 
    <% flash.each do |name, msg| %>
      <%= content_tag(:span, msg, :id => "flash_#{name}") %>
    <% end %>
    <%= content_tag(:h1, @title) if show_title? %>
    <%= yield %>
</div>
<div id="footer">
  <div class="container">
    <%= image_tag("html5-color.png", :alt => 'HTML5+CSS3') %>
    <%= link_to(image_tag("acm-color.png", :alt => 'Association for Computing Machinery'), 'http://www.acm.org/') %>
    <%= link_to(image_tag("cmu-color.png", :alt => 'Carnegie Mellon University'), 'http://www.cmu.edu/') %>
    <span id="copyright">
      &copy; <%= Time.now.year %> acm@cmu | design by <a href="http://kshare.info">vs</a> | developed by adam weis
    </span>
  </div>
</div>
</body>
</html>
