<% if @title.nil? then @title = yield(:title) end %>
<!DOCTYPE html>
<html>
<head>
<title>ACM@CMU :: <%= @title %></title>
<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300&subset=latin&v2" rel="stylesheet" type="text/css" />
<%= stylesheet_link_tag "application", "style" %>
<%= javascript_include_tag :defaults %>
<%= csrf_meta_tag %>
<%= yield(:head) %>
<!-- heap analytics, this was added by ksikka -->
<script type="text/javascript">
  window.heap=window.heap||[],heap.load=function(t,e){window.heap.appid=t,window.heap.config=e;var a=document.createElement("script");a.type="text/javascript",a.async=!0,a.src=("https:"===document.location.protocol?"https:":"http:")+"//cdn.heapanalytics.com/js/heap.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(a,n);for(var o=function(t){return function(){heap.push([t].concat(Array.prototype.slice.call(arguments,0)))}},p=["clearEventProperties","identify","setEventProperties","track","unsetEventProperty"],c=0;c<p.length;c++)heap[p[c]]=o(p[c])};
  heap.load("3648311231");
</script>
</head>
<body>
    <% flash.each do |name, msg| %>
      <%= content_tag(:span, msg, :id => "flash_#{name}") %>
    <% end %>
<%= render(:partial => 'partials/auth') %>
<div id="header">
  <div class="container">
    <div id="logo">
      <%= link_to(image_tag("title.png", :id => 'title', :alt => 'acm@cmu'), home_path) %><br />
      <%= content_tag :span, 'association for computing machinery at carnegie mellon university', :id => "tagline" %>
    </div>
<%= render(:partial => 'partials/navigation') %>
  </div>
</div>
<script type="text/javascript">

  if ($('#auth').attr('class') == 'form') {
    $('#auth').hide();
    $('#auth .container')
      .append('<span id="l-close">close</span>');
    $('#header .container')
      .prepend('<span id="l-open">open</span>');
  }

</script>
<div id="main"> 
    <%= content_tag(:h1, @title) if show_title? %>
    <%= yield %>
</div>
<div id="footer">
  <div class="container">
    <%= image_tag("html5-color.png", :alt => 'HTML5+CSS3') %>
    <%= link_to(image_tag("acm-color.png", :alt => 'Association for Computing Machinery'), 'http://www.acm.org/') %>
    <%= link_to(image_tag("cmu-color.png", :alt => 'Carnegie Mellon University'), 'http://www.cmu.edu/') %>
    <span id="copyright">
      &copy; <%= Time.now.year %> acm@cmu | design by <a href="http://kshare.info">vs</a> | developed by adam weis
    </span>
  </div>
</div>
</body>
</html>
