<div class="headline">
  <div class="container">
<h1>Members</h1>

<table>
  <tr>
    <th>Andrew ID</th>
    <th>Name</th>
    <th>Email</th>
    <th>Class</th>
    <!--th>Officer Position</th-->
    <th>Committee</th>
    <th>Phone</th>
    <th>Shirt Size</th>
    <th colspan="2">Options</th>
  </tr>
  <% for member in @members %>
    <tr>
      <td><%= member.andrew_id %></td>
      <td><%= member.first_name %> <%= member.last_name %></td>
      <td><%= member.email %></td>
      <td><%= member.major %> <%= member.year %></td>
      <!--td><%= member.officer_position %></td-->
      <td><%= member.committee %></td>
      <td><%= member.phone %></td>
      <td><%= member.shirt_size %></td>
   
  <% if current_member.role == "admin" || current_member == member%>
      <td><%= link_to "Edit", edit_member_path(member) %></td>
      <td><%= link_to "Delete", member, :confirm => 'Are you sure?', :method => :delete %></td>
   <% end %>
    </tr>
  <% end %>
</table>

   <% if current_member.role == "admin" %>
  <%= link_to "New Member", new_member_path %>
   <% end %>
  </div>
</div>
