<% title "Member" %>

<p>
  <strong>Name:</strong>
  <%= @member.name %>
</p>
<p>
  <strong>Andrew:</strong>
  <%= @member.andrew_id %>
</p>
<p>
  <strong>Year:</strong>
  <%= @member.year %>
</p>
<p>
  <strong>Title:</strong>
  <%= @member.title %>
</p>

<p>
  <%= link_to "Edit", edit_member_path(@member) %> |
  <%= link_to "Destroy", @member, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", members_path %>
</p>
